USE [Practical]
GO
/****** Object:  Table [dbo].[Note]    Script Date: 23-04-2019 1:09:31 ******/
DROP TABLE [dbo].[Note]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 23-04-2019 1:09:31 ******/
DROP TABLE [dbo].[Login]
GO
USE [master]
GO
/****** Object:  Database [Practical]    Script Date: 23-04-2019 1:09:31 ******/
DROP DATABASE [Practical]
GO
/****** Object:  Database [Practical]    Script Date: 23-04-2019 1:09:31 ******/
CREATE DATABASE [Practical]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practical', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXP2014\MSSQL\DATA\Practical.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Practical_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXP2014\MSSQL\DATA\Practical_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practical].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practical]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 23-04-2019 1:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Login](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[passowrd] [varchar](50) NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Note]    Script Date: 23-04-2019 1:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Note](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](150) NULL,
	[body] [varchar](max) NULL,
 CONSTRAINT [PK_Note] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Login] ON 

INSERT [dbo].[Login] ([id], [name], [passowrd]) VALUES (1, N'rithik', N'123')
SET IDENTITY_INSERT [dbo].[Login] OFF
SET IDENTITY_INSERT [dbo].[Note] ON 

INSERT [dbo].[Note] ([id], [title], [body]) VALUES (6, N'rithik', N'pate 111')
INSERT [dbo].[Note] ([id], [title], [body]) VALUES (9, N'rithik', N'pate 123')
INSERT [dbo].[Note] ([id], [title], [body]) VALUES (10, N'123', N'123')
SET IDENTITY_INSERT [dbo].[Note] OFF
USE [master]
GO
